@keyframes fade-in {
    from {opacity: 0;}
    to   {opacity: 1;}
}

.loginPageHeight {
    height: 390px;
}

.loginFormTitle {
    width: 100%;
    height: 40px;

    font-size: 30px;
    font-weight: 500;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;

    animation: fade-in 0.9s ease-in;
}

.loginForm {
    width: 80%;
    height: calc(100% - 40px);

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    animation: fade-in 0.9s ease-in;
}

.loginFormContent {
    position: relative;
    width: 90%;
    height: calc(100% - 100px);

    background-color: none;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formFooterButtonsContainer {
    width: 100%;
    height: 100px;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.forgotPasswordButtonContainer {
    position: absolute;
    bottom: 2px;
    right: 10px;

    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: grey;

    display: flex;
    justify-content: center;
    align-items: center;
}

.forgotPasswordButton {
    transition: transform 0.1s ease-in-out, color 0.2s ease;
}

.forgotPasswordButton:hover {
    cursor: pointer;
    text-decoration: underline;
    transform: scale(1.05);
}

.forgotPasswordButton:active {
    color: lightgrey;
    text-decoration: none;
}
